*~
O.*/
/db
/bin
/dbd
/include
/lib
/templates
/ecc
/doc
/XRayWorXApp/src/*.dll
/XRayWorXApp/src/*.tlb
/XRayWorXApp/src/*.xml
*.tags
*.swp
*BAK.adl
html/
cdCommands
envPaths*
dllPath.bat
auto_settings.sav*
auto_positions.sav*

